@model NghiaBlog.Models.tintuc
@{
    ViewBag.Title = "Xem Chi Tiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <header class="blog-post-header">
                <h2 class="title mb-2">@Model.tieude</h2>
                <div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
            </header>

            <div class="blog-post-body">
                <figure class="blog-banner">
                    <a href="~/assets/img/@Model.img"><img class="img-fluid" src="~/assets/img/@Model.img" alt="image"></a>
                    
                </figure>
                <p>
                    @Html.Raw(Model.noidung)
                </p>
            </div>
        </div><!--//container-->
    </article>




